.marker {
  height: 100%;
  width: 100%;
  display: block;
  background: url(~ionicons/dist/svg/md-pin.svg);
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: center;
}
