doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title Map - OpenStreetMap, Google, Yandex
    meta(name='description' content='Map - ипользование картографической библиотеки leaflet')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css')
    style
        include style.css
  body

    #map
    script(src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js')
    script(src='http://api-maps.yandex.ru/2.0/?load=package.map&lang=ru-RU')
    script(src='http://maps.google.com/maps/api/js?v=3.2&sensor=false')
    script(src='https://raw.githubusercontent.com/shramov/leaflet-plugins/master/layer/tile/Google.js')
    script(src='https://raw.githubusercontent.com/shramov/leaflet-plugins/master/layer/tile/Yandex.js')
    script(type="text/javascript")
        include script.js